<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
<div class="container my-4">
    <h1 class="text-center mb-4">User Management System</h1>
    <hr>
    <h2 class="text-center mb-4">Save User</h2>

    <form action="/saveUser" th:object="${user}" method="POST" enctype="multipart/form-data" class="mb-4">
        <div class="form-group row justify-content-center">
            <input type="number" th:field="*{id}" placeholder="ID" class="form-control mb-2 col-6">
            <input type="text" th:field="*{name}" placeholder="User Name" class="form-control mb-2 col-6">
            <input type="text" th:field="*{address}" placeholder="User Address" class="form-control mb-2 col-6">
            <input type="file" name="image" accept=".jpg, .jpeg" class="form-control mb-2 col-6">
            <button type="submit" class="btn btn-primary col-3"> Save User</button>
        </div>
    </form>

    <hr>

    <div class="text-center">
        <a th:href="@{/}" class="btn btn-secondary">Back to User List</a>
    </div>
</div>
</body>

</html>
